body {background-color: black;}

label {
    color: white;
    font-family: Arial, sans-serif
}

table, th, td, tr {
    border: 1px solid white;
    font-family: Arial, sans-serif;
}

th, td, tr {
    color: white;
    padding: 5px
}

#box {
    margin-top: 50px
}